body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.wrapper {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../pictures/Bg-hero.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../pictures/Bg-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 18px;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.bg-green {
  background-color: #a8ff35;
}

.bg-grey {
  background-color: #fafafa;
}

.bg-black {
  background-color: #000000;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  margin-left: 18px;
  margin-right: 18px;
}
@media screen and (min-width: 1200px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 80px;
    margin-right: 80px;
  }
}
.header__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  z-index: 3;
}
.header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 0;
    font-size: 24px;
  }
}
.header__logo:hover, .header__logo:focus {
  -webkit-animation: tada;
          animation: tada;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .header__mobile {
    display: block;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 60px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child),
.user__item:not(:last-child) {
  margin-right: 40px;
}

.site-nav__link,
.user__link {
  padding: 40px 0;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus,
.user__link:hover,
.user__link:focus {
  color: #a8ff35;
  -webkit-animation: rubberBand;
          animation: rubberBand;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.user {
  display: none;
}
@media screen and (min-width: 1200px) {
  .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.user__link--bordered {
  display: block;
  padding: 8px 32px;
  border-radius: 40px;
  background: #ffffff;
  outline: black;
  color: inherit;
  font-size: 18px;
  line-height: 1;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user__link--bordered:hover, .user__link--bordered:focus {
  outline: 3px solid #a8ff35;
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.hero {
  padding-top: 60px;
  padding-bottom: 43px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.hero__title {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.12;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-bottom: 24px;
    font-size: 72px;
  }
}

.hero__descr {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: #8b8b8b;
}
@media screen and (min-width: 1200px) {
  .hero__descr {
    margin-bottom: 40px;
    font-size: 18px;
  }
}

.hero__link {
  display: inline-block;
  margin-bottom: 60px;
  padding: 12px 24px;
  border-radius: 40px;
  background: #a8ff35;
  color: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .hero__link {
    margin-bottom: 95px;
    padding: 12px 32px;
    font-size: 18px;
  }
}
.hero__link:hover, .hero__link:focus {
  color: #ffffff;
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@media screen and (min-width: 1200px) {
  .hero__wrapper {
    position: relative;
    margin-bottom: 90px;
  }
}

.hero__item:nth-child(1) {
  z-index: 12;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
@media screen and (min-width: 1200px) {
  .hero__item:nth-child(1) {
    left: 105px;
  }
}

.hero__item:nth-child(2) {
  z-index: 11;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}
@media screen and (min-width: 1200px) {
  .hero__item:nth-child(2) {
    top: 45px;
    left: 275px;
  }
}

.hero__item:nth-child(3) {
  z-index: 10;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}
@media screen and (min-width: 1200px) {
  .hero__item:nth-child(3) {
    left: 485px;
  }
}

.hero__item:nth-child(4) {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}
@media screen and (min-width: 1200px) {
  .hero__item:nth-child(4) {
    top: 40px;
    left: 735px;
  }
}

.hero__item {
  padding: 15px;
  background: #181818;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media screen and (min-width: 1200px) {
  .hero__item {
    position: absolute;
    width: 300px;
  }
}

.block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__text {
  margin-left: 13px;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}

.block__overlay {
  position: absolute;
  top: -47%;
  left: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 72px;
  height: 62px;
  background: -webkit-gradient(linear, right top, left top, color-stop(53.65%, #181818), to(rgba(24, 24, 24, 0.8)));
  background: linear-gradient(270deg, #181818 53.65%, rgba(24, 24, 24, 0.8) 100%);
}

.block__icon {
  width: 15px;
  height: 15px;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

.section__link {
  display: inline-block;
  margin-top: 32px;
  padding: 16px 24px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  background: #000000;
  color: #ffffff;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section__link:focus, .section__link:hover {
  color: #a8ff35;
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@media screen and (min-width: 1200px) {
  .section__link {
    margin-top: 80px;
    padding: 16px 32px;
    font-size: 18px;
  }
}

.section-example__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 1200px) {
  .section-example__title {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 72px;
  }
}

.section-example__wrapper {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .section-example__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-example__icon {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-example__icon {
    display: block;
    margin-bottom: 80px;
    width: 95px;
    height: 72px;
  }
}

.section-example__mobileIcon {
  position: absolute;
  width: 93px;
  height: 64px;
}
.section-example__mobileIcon--top {
  top: -40%;
  left: 70%;
}
.section-example__mobileIcon--bot {
  bottom: -40%;
  right: 70%;
}
@media screen and (min-width: 1200px) {
  .section-example__mobileIcon {
    display: none;
  }
}

.section-example__box {
  width: 339px;
  margin-bottom: 80px;
  padding: 24px;
  background: #ffffff;
  border-radius: 16px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 1200px) {
  .section-example__box {
    width: 502px;
    padding: 60px 80px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 60px;
  }
}

.section-example__descr {
  padding: 0 26px;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 1200px) {
  .section-example__descr {
    font-size: 18px;
  }
}

.section-example__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background: #181818;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.section-example__text {
  margin-left: 13px;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 62px;
  background: -webkit-gradient(linear, right top, left top, color-stop(53.65%, #181818), to(rgba(24, 24, 24, 0.8)));
  background: linear-gradient(270deg, #181818 53.65%, rgba(24, 24, 24, 0.8) 100%);
}
.overlay__icon {
  width: 15px;
  height: 15px;
}

.section-description__descr {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
.section-description__descr--accent {
  color: #adadad;
  text-shadow: none;
}
@media screen and (min-width: 1200px) {
  .section-description__descr {
    font-size: 64px;
  }
}

.section-partners__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 1200px) {
  .section-partners__title {
    margin-bottom: 80px;
    font-size: 64px;
  }
}

.section-partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -9px;
}
@media screen and (min-width: 1200px) {
  .section-partners__list {
    margin: -16px;
  }
}

.section-partners__item {
  width: calc((100% - 36px) / 2);
  margin: 9px;
}
@media screen and (min-width: 1200px) {
  .section-partners__item {
    width: calc((100% - 128px) / 4);
    margin: 16px;
  }
}

.section-partners__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 74px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  background: #f5f4fa;
  border-radius: 8px;
}
@media screen and (min-width: 1200px) {
  .section-partners__box {
    height: 100px;
  }
}

.section-platforms__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 1200px) {
  .section-platforms__title {
    margin-bottom: 80px;
    font-size: 64px;
  }
}

@media screen and (max-width: 1200px) {
  .section-platforms__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -9px;
  }
}
@media screen and (min-width: 1200px) {
  .section-platforms__list {
    margin-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .section-platforms__item {
    width: calc((100% - 72px) / 4);
    margin: 9px;
  }
}

@media screen and (min-width: 1200px) {
  .section-platforms__item:not(:last-child) {
    margin-right: 24px;
  }
}

.section-platforms__link {
  display: inline-block;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-platforms__link:focus, .section-platforms__link:hover {
  background: #a8ff35;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media screen and (min-width: 1200px) {
  .section-platforms__link {
    padding: 32px;
  }
}

.images-list {
  margin-top: 32px;
}

.images-list__item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .images-list__image1 {
    width: 800px;
    height: 274px;
  }
}

@media screen and (min-width: 1200px) {
  .images-list__image2 {
    width: 800px;
    height: 804px;
  }
}

.section-deals__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #ffffff;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 1200px) {
  .section-deals__title {
    margin-bottom: 40px;
    font-size: 64px;
  }
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}
@media screen and (min-width: 1200px) {
  .slider {
    margin-bottom: 40px;
    margin-left: 90px;
  }
}

@media screen and (max-width: 1200px) {
  .slider::after {
    position: absolute;
    top: 90%;
    left: 62%;
    content: "";
    width: 66px;
    height: 63px;
    background-image: url(../../pictures/group3.png);
  }
}

.slider__text {
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .slider__text {
    font-size: 24px;
  }
}

.slider__text--yearly {
  color: #8b8b8b;
}

.slider__switch {
  position: relative;
  display: inline-block;
  margin-left: 24px;
  margin-right: 24px;
  width: 70px;
  height: 24px;
}
@media screen and (min-width: 1200px) {
  .slider__switch {
    height: 34px;
    width: 80px;
  }
}

.slider__input {
  display: none;
}

.slider__switcher {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider__switcher:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #a8ff35;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media screen and (min-width: 1200px) {
  .slider__switcher:before {
    height: 26px;
    width: 26px;
  }
}

.slider__input:checked + .slider__text--yearly {
  color: #ffffff;
}
.slider__input:checked + .slider__switcher:before {
  -webkit-transform: translateX(46px);
  transform: translateX(46px);
}
.slider__input:focus + .slider__switcher {
  -webkit-box-shadow: 0 0 1px #a8ff35;
          box-shadow: 0 0 1px #a8ff35;
}

.slider__icon {
  display: none;
}
@media screen and (min-width: 1200px) {
  .slider__icon {
    display: block;
    margin-left: 24px;
    width: 88px;
    height: 66px;
  }
}

@media screen and (min-width: 1200px) {
  .deals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.deals__item:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .deals__item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.deals__box {
  padding: 16px;
  min-width: 339px;
  height: 640px;
  text-align: center;
  background-color: #fafafa;
  border-radius: 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.deals__box:focus, .deals__box:hover {
  background: #a8ff35;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 1200px) {
  .deals__box {
    min-width: 360px;
  }
}

.deals__firstbox {
  padding: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #8b8b8b;
  text-align: left;
}

.deals__secondbox {
  padding: 16px;
  text-align: left;
}

.deals__title {
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 1;
}
@media screen and (min-width: 1200px) {
  .deals__title {
    font-size: 36px;
  }
}

.deals__descr {
  font-size: 18px;
  line-height: 1;
}

.deals__price {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1;
}
.deals__price--bold {
  font-size: 60px;
}
@media screen and (min-width: 1200px) {
  .deals__price--bold {
    font-size: 64px;
  }
}

.deals-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 1;
}
.deals-list__item:not(:last-child) {
  margin-bottom: 25px;
}

.deals-list__icon {
  margin-right: 10px;
  width: 14px;
  height: 9px;
}

.deals__button {
  cursor: pointer;
  outline: transparent;
  padding: 16px 88px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  border: none;
  border-radius: 29px;
  background: #a8ff35;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.deals__button--first {
  margin-top: 170px;
}
.deals__button--second {
  margin-top: 126px;
}
.deals__button--third {
  margin-top: 40px;
}
.deals__box:hover .deals__button {
  color: #ffffff;
  background: #000000;
}

.section-joinus__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.12;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
.section-joinus__title--accent {
  color: #87d322;
  text-shadow: none;
}
@media screen and (min-width: 1200px) {
  .section-joinus__title {
    font-size: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
    margin-left: 80px;
    margin-right: 80px;
  }
}

.footer__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: inherit;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 0;
  }
}

.footer__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-list__item:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .footer-list__item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.footer-list__link {
  font-size: 18px;
  line-height: 1;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__link:focus, .footer-list__link:hover {
  color: #a8ff35;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  top: 10px;
  right: 15px;
  padding: 10px;
  margin: 0;
  border: none;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button:hover, .menu-button:focus, .menu-button:active {
  outline: none;
  color: #a8ff35;
}
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open {
  z-index: 2;
}

.menu-button__icon {
  fill: currentColor;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu {
  display: none;
  padding: 168px 123px 80px 123px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000000;
}
.menu.is-open {
  display: block;
  overflow-y: scroll;
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  .menu {
    display: none;
  }
}

.menu__item {
  margin-bottom: 40px;
}

.menu-user__item:not(:last-child) {
  margin-bottom: 40px;
}

.menu__link,
.menu-user__link {
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus,
.menu-user__link:hover,
.menu-user__link:focus {
  color: #a8ff35;
}

.menu-user__link--bordered {
  display: block;
  padding: 8px 32px;
  border-radius: 40px;
  background: #ffffff;
  outline: #000000;
  color: inherit;
  font-size: 18px;
  line-height: 1;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-user__link--bordered:hover, .menu-user__link--bordered:focus {
  outline: 3px solid #a8ff35;
}/*# sourceMappingURL=main.css.map */