body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.wrapper {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../pictures/Bg-hero.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../pictures/Bg-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.bg-green {
  background-color: #a8ff35;
}

.bg-grey {
  background-color: #fafafa;
}

.bg-black {
  background-color: #000000;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  margin-left: 80px;
  margin-right: 80px;
}
.header__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.header__logo:hover, .header__logo:focus {
  -webkit-animation: tada;
          animation: tada;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 80px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.site-nav__item:not(:last-child),
.user__item:not(:last-child) {
  margin-right: 40px;
}

.site-nav__link,
.user__link {
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus,
.user__link:hover,
.user__link:focus {
  color: #a8ff35;
  -webkit-animation: rubberBand;
          animation: rubberBand;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.user__link--bordered {
  display: block;
  padding: 8px 32px;
  border-radius: 40px;
  background: #ffffff;
  outline: black;
  color: inherit;
  font-size: 18px;
  line-height: 1;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user__link--bordered:hover, .user__link--bordered:focus {
  outline: 3px solid #a8ff35;
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.hero__title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.12;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
  color: #ffffff;
}

.hero__descr {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.5;
  color: #8b8b8b;
}

.hero__link {
  display: inline-block;
  margin-bottom: 95px;
  padding: 12px 32px;
  border-radius: 40px;
  background: #a8ff35;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__link:hover, .hero__link:focus {
  color: #ffffff;
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.hero__list {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  width: 1076px;
}

.hero__item:nth-child(1) {
  left: 0;
  z-index: 12;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.hero__item:nth-child(2) {
  top: 45px;
  left: 185px;
  z-index: 11;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.hero__item:nth-child(3) {
  left: 425px;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  z-index: 10;
}

.hero__item:nth-child(4) {
  top: 40px;
  left: 675px;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.hero__item {
  position: absolute;
  width: 300px;
  padding: 15px;
  background: #181818;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__text {
  margin-left: 13px;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}

.block__overlay {
  position: absolute;
  top: -47%;
  left: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 72px;
  height: 62px;
  background: -webkit-gradient(linear, right top, left top, color-stop(53.65%, #181818), to(rgba(24, 24, 24, 0.8)));
  background: linear-gradient(270deg, #181818 53.65%, rgba(24, 24, 24, 0.8) 100%);
}

.block__icon {
  width: 15px;
  height: 15px;
}

.section {
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;
}

.section__link {
  margin-top: 80px;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  background: #000000;
  color: #ffffff;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section__link:focus, .section__link:hover {
  color: #a8ff35;
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.section-example__title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

.section-example__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-example__icon {
  margin-bottom: 80px;
  width: 95px;
  height: 72px;
}

.section-example__box {
  width: 502px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 60px;
  padding: 60px 80px;
  background: #ffffff;
  border-radius: 16px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-example__descr {
  font-size: 18px;
  line-height: 1.5;
}

.section-example__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background: #181818;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.section-example__text {
  margin-left: 13px;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 72px;
  height: 62px;
  background: -webkit-gradient(linear, right top, left top, color-stop(53.65%, #181818), to(rgba(24, 24, 24, 0.8)));
  background: linear-gradient(270deg, #181818 53.65%, rgba(24, 24, 24, 0.8) 100%);
}
.overlay__icon {
  width: 15px;
  height: 15px;
}

.section-description {
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;
}

.section-description__descr {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
.section-description__descr--accent {
  color: #adadad;
  text-shadow: none;
}

.section-partners {
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;
}

.section-partners__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

.section-partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -16px;
}

.section-partners__item {
  width: calc((100% - 128px) / 4);
  margin: 16px;
}

.section-partners__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  background: #f5f4fa;
  border-radius: 8px;
}

.section-platforms {
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;
}

.section-platforms__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

.section-platforms__list {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-platforms__item:not(:last-child) {
  margin-right: 24px;
}

.section-platforms__link {
  display: inline-block;
  padding: 32px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-platforms__link:focus, .section-platforms__link:hover {
  background: #a8ff35;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.images-list__item:not(:last-child) {
  margin-bottom: 40px;
}

.section-deals__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  color: #ffffff;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  margin-left: 90px;
}

.slider__text {
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
}

.slider__text--yearly {
  color: #8b8b8b;
}

.slider__switch {
  position: relative;
  display: inline-block;
  margin-left: 24px;
  margin-right: 24px;
  width: 80px;
  height: 34px;
}

.slider__input {
  display: none;
}

.slider__switcher {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider__switcher:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #a8ff35;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider__input:checked + .slider__text--yearly {
  color: #ffffff;
}
.slider__input:checked + .slider__switcher:before {
  -webkit-transform: translateX(46px);
  transform: translateX(46px);
}
.slider__input:focus + .slider__switcher {
  -webkit-box-shadow: 0 0 1px #a8ff35;
          box-shadow: 0 0 1px #a8ff35;
}

.slider__icon {
  margin-left: 24px;
  width: 88px;
  height: 66px;
}

.deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.deals__item:not(:last-child) {
  margin-right: 20px;
}

.deals__box {
  padding: 16px;
  min-width: 360px;
  height: 640px;
  text-align: center;
  background-color: #fafafa;
  border-radius: 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.deals__box:focus, .deals__box:hover {
  background: #a8ff35;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.deals__box:focus .deals__button, .deals__box:hover .deals__button {
  color: #ffffff;
  background: #000000;
}

.deals__firstbox {
  padding: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #8b8b8b;
  text-align: left;
}

.deals__secondbox {
  padding: 16px;
  text-align: left;
}

.deals__title {
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1;
}

.deals__descr {
  font-size: 18px;
  line-height: 1;
}

.deals__price {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1;
}
.deals__price--bold {
  font-size: 64px;
}

.deals-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 1;
}
.deals-list__item:not(:last-child) {
  margin-bottom: 25px;
}

.deals-list__icon {
  margin-right: 10px;
  width: 14px;
  height: 9px;
}

.deals__button {
  cursor: pointer;
  outline: transparent;
  padding: 16px 88px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  border: none;
  border-radius: 29px;
  background: #a8ff35;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.deals__button--first {
  margin-top: 170px;
}
.deals__button--second {
  margin-top: 126px;
}
.deals__button--third {
  margin-top: 40px;
}

.section-joinus__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.12;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
.section-joinus__title--accent {
  color: #87d322;
  text-shadow: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  margin-left: 80px;
  margin-right: 80px;
}
.footer__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: inherit;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.footer__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-list__item:not(:last-child) {
  margin-right: 40px;
}

.footer-list__link {
  font-size: 18px;
  line-height: 1;
  color: inherit;
}
.footer-list__link:focus, .footer-list__link:hover {
  color: #a8ff35;
}/*# sourceMappingURL=main.css.map */