.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  margin-left: 80px;
  margin-right: 80px;
  &__logo {
    margin-right: auto;
    font-family: $logo-font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: inherit;
  }
}
.footer-list {
  display: flex;
}
.footer-list__item:not(:last-child) {
  margin-right: 40px;
}
.footer-list__link {
  font-size: 18px;
  line-height: 1;
  color: inherit;
  &:focus,
  &:hover {
    color: $accent-color;
  }
}
