.footer {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    margin-left: 80px;
    margin-right: 80px;
  }
}
.footer__logo {
  display: inline-flex;
  align-items: center;
  margin-bottom: 80px;
  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: inherit;
  text-shadow: $logo-text-shadow;
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}
.footer__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-list {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.footer-list__item:not(:last-child) {
  margin-bottom: 40px;
  @media screen and (min-width: $desktop) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}
.footer-list__link {
  font-size: 18px;
  line-height: 1;
  color: inherit;
  transition: color 250ms $cubic-bezier;
  &:focus,
  &:hover {
    color: $accent-color;
  }
}
