.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 0;
  margin-left: 80px;
  margin-right: 80px;
  &__icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    font-family: $logo-font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: $title-text-color;
    text-shadow: $logo-text-shadow;
    &:hover,
    &:focus {
      animation: tada;
      animation-duration: 1s;
    }
  }
}
.header__nav {
  display: flex;
  align-items: center;
  margin-left: 80px;
}
.site-nav {
  display: flex;
  margin-left: auto;
}
.site-nav__item:not(:last-child),
.user__item:not(:last-child) {
  margin-right: 40px;
}
.site-nav__link,
.user__link {
  font-size: 18px;
  line-height: 1;
  color: $title-text-color;
  transition: color 250ms $cubic-bezier;
  &:hover,
  &:focus {
    color: $accent-color;
    animation: rubberBand;
    animation-duration: 1s;
  }
}
.user {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user__link--bordered {
  display: block;
  padding: 8px 32px;
  border-radius: 40px;
  background: $bg-color;
  outline: black;
  color: inherit;
  font-size: 18px;
  line-height: 1;
  transition: outline 250ms $cubic-bezier;
  &:hover,
  &:focus {
    outline: 3px solid $accent-color;
    animation: pulse;
    animation-duration: 1s;
  }
}
