.header {
  margin-left: 18px;
  margin-right: 18px;
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 80px;
    margin-right: 80px;
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    z-index: 3;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    padding: 24px 0;
    font-family: $logo-font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: $title-text-color;
    text-shadow: $logo-text-shadow;
    @media screen and (min-width: $desktop) {
      padding: 0;
      font-size: 24px;
    }
    &:hover,
    &:focus {
      animation: tada;
      animation-duration: 1s;
    }
  }
}
.header__mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: $desktop) {
    display: block;
  }
}
.header__nav {
  display: none;
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    margin-left: 60px;
  }
}
.site-nav {
  display: flex;
}
.site-nav__item:not(:last-child),
.user__item:not(:last-child) {
  margin-right: 40px;
}
.site-nav__link,
.user__link {
  padding: 40px 0;
  font-size: 18px;
  line-height: 1;
  color: $title-text-color;
  transition: color 250ms $cubic-bezier;
  &:hover,
  &:focus {
    color: $accent-color;
    animation: rubberBand;
    animation-duration: 1s;
  }
}
.user {
  display: none;
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

.user__link--bordered {
  display: block;
  padding: 8px 32px;
  border-radius: 40px;
  background: $bg-color;
  outline: black;
  color: inherit;
  font-size: 18px;
  line-height: 1;
  transition: outline 250ms $cubic-bezier;
  &:hover,
  &:focus {
    outline: 3px solid $accent-color;
    animation: pulse;
    animation-duration: 1s;
  }
}
