.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.hero__title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.12;

  color: $title-text-color;
}
.hero__descr {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.5;

  color: $secondary-text-color;
}
.hero__link {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 40px;
  background: $accent-color;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  &:hover,
  &:focus {
    color: $title-text-color;
  }
}
