.hero {
  padding-top: 60px;
  padding-bottom: 43px;
  text-align: center;
  @media screen and (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.hero__title {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.12;
  text-shadow: $title-text-shadow;
  color: $title-text-color;

  @media screen and (min-width: $desktop) {
    margin-bottom: 24px;
    font-size: 72px;
  }
}
.hero__descr {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: $secondary-text-color;
  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
    font-size: 18px;
  }
}
.hero__link {
  display: inline-block;
  margin-bottom: 60px;
  padding: 12px 24px;
  border-radius: 40px;
  background: $accent-color;
  color: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  transition: color 250ms $cubic-bezier;

  @media screen and (min-width: $desktop) {
    margin-bottom: 95px;
    padding: 12px 32px;
    font-size: 18px;
  }
  &:hover,
  &:focus {
    color: $title-text-color;
    animation: pulse;
    animation-duration: 2s;
  }
}
.hero__wrapper {
  @media screen and (min-width: $desktop) {
    position: relative;
    margin-bottom: 90px;
  }
}

.hero__item:nth-child(1) {
  z-index: 12;
  transform: rotate(-4deg);
  @media screen and (min-width: $desktop) {
    left: 105px;
  }
}
.hero__item:nth-child(2) {
  z-index: 11;
  transform: rotate(2deg);

  @media screen and (min-width: $desktop) {
    top: 45px;
    left: 275px;
  }
}
.hero__item:nth-child(3) {
  z-index: 10;
  transform: rotate(-2deg);

  @media screen and (min-width: $desktop) {
    left: 485px;
  }
}
.hero__item:nth-child(4) {
  transform: rotate(4deg);
  @media screen and (min-width: $desktop) {
    top: 40px;
    left: 735px;
  }
}
.hero__item {
  padding: 15px;
  background: #181818;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  @media screen and (min-width: $desktop) {
    position: absolute;
    width: 300px;
  }
}

.block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block__text {
  margin-left: 13px;
  font-size: 20px;
  line-height: 1.2;
  color: $title-text-color;
}
.block__overlay {
  position: absolute;
  top: -47%;
  left: 83%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 62px;
  background: linear-gradient(
    270deg,
    #181818 53.65%,
    rgba(24, 24, 24, 0.8) 100%
  );
}
.block__icon {
  width: 15px;
  height: 15px;
}
