@import "./header";
@import "./hero";
@import "./section";
@import "./section-example";
@import "./section-description";
@import "./section-partners";
@import "./section-platforms";
@import "./section-deals";
@import "./section-joinus";
@import "./footer";
@import "./menu-button";
@import "./menu";
