.menu-button {
  display: inline-flex;
  top: 10px;
  right: 15px;
  padding: 10px;
  margin: 0;
  border: none;
  background-color: transparent;
  color: $bg-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: $accent-color;
  }

  @media screen and(min-width:$desktop) {
    display: none;
  }
}
.menu-button.is-open {
  z-index: 2;
}
.menu-button__icon {
  fill: currentColor;
}
.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
