.menu {
  display: none;
  padding: 168px 123px 80px 123px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.is-open {
    display: block;
    overflow-y: scroll;
    z-index: 1;
  }
  text-align: center;
  background-color: $third-bg-color;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.menu__item {
  margin-bottom: 40px;
}
.menu-user__item:not(:last-child) {
  margin-bottom: 40px;
}
.menu__link,
.menu-user__link {
  font-size: 18px;
  line-height: 1;
  color: $title-text-color;
  transition: color 250ms $cubic-bezier;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-user__link--bordered {
  display: block;
  padding: 8px 32px;
  border-radius: 40px;
  background: $bg-color;
  outline: $third-bg-color;
  color: inherit;
  font-size: 18px;
  line-height: 1;
  transition: outline 250ms $cubic-bezier;
  &:hover,
  &:focus {
    outline: 3px solid $accent-color;
  }
}
