.section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  @media screen and (min-width: $desktop) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

.section__link {
  display: inline-block;
  margin-top: 32px;
  padding: 16px 24px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  background: $third-bg-color;
  color: $title-text-color;
  transition: color 500ms $cubic-bezier;

  &:focus,
  &:hover {
    color: $accent-color;
    animation: pulse;
    animation-duration: 2s;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 80px;
    padding: 16px 32px;
    font-size: 18px;
  }
}
