.section-partners {
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;
}
.section-partners__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  text-shadow: $title-text-shadow;
}
.section-partners__list {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
}
.section-partners__item {
  width: calc((100% - 8 * 16px) / 4);
  margin: 16px;
}
.section-partners__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  box-shadow: $main-box-shadow;
  background: $partners-bg-color;
  border-radius: 8px;
}
