.section-example__title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
}
.section-example__box {
  width: 502px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding: 60px 80px;
  background: $bg-color;
  border-radius: 16px;
}
.section-example__descr {
  font-size: 18px;
  line-height: 1.5;
}
