.section-partners__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-shadow: $title-text-shadow;
  @media screen and (min-width: $desktop) {
    margin-bottom: 80px;
    font-size: 64px;
  }
}
.section-partners__list {
  display: flex;
  flex-wrap: wrap;
  margin: -9px;
  @media screen and (min-width: $desktop) {
    margin: -16px;
  }
}
.section-partners__item {
  width: calc((100% - 2 * 18px) / 2);
  margin: 9px;
  @media screen and (min-width: $desktop) {
    width: calc((100% - 4 * 32px) / 4);
    margin: 16px;
  }
}
.section-partners__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 74px;
  box-shadow: $main-box-shadow;
  background: $partners-bg-color;
  border-radius: 8px;
  @media screen and (min-width: $desktop) {
    height: 100px;
  }
}
