.section-example__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-shadow: $title-text-shadow;
  @media screen and (min-width: $desktop) {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 72px;
  }
}
.section-example__wrapper {
  position: relative;
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.section-example__icon {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
    margin-bottom: 80px;
    width: 95px;
    height: 72px;
  }
}
.section-example__mobileIcon {
  position: absolute;
  width: 93px;
  height: 64px;

  &--top {
    top: -40%;
    left: 70%;
  }
  &--bot {
    bottom: -40%;
    right: 70%;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.section-example__box {
  width: 339px;
  margin-bottom: 80px;
  padding: 24px;
  background: $bg-color;
  border-radius: 16px;
  box-shadow: $main-box-shadow;
  @media screen and (min-width: $desktop) {
    width: 502px;
    padding: 60px 80px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 60px;
  }
}

.section-example__descr {
  padding: 0 26px;
  font-size: 14px;
  line-height: 1.5;
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}
.section-example__block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #181818;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.section-example__text {
  margin-left: 13px;
  font-size: 20px;
  line-height: 1.2;
  color: $title-text-color;
}
.overlay {
  position: absolute;
  top: 0;
  left: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 62px;
  background: linear-gradient(
    270deg,
    #181818 53.65%,
    rgba(24, 24, 24, 0.8) 100%
  );

  &__icon {
    width: 15px;
    height: 15px;
  }
}
