.section-platforms {
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;
}
.section-platforms__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  text-shadow: $title-text-shadow;
}
.section-platforms__list {
  margin-bottom: 80px;

  display: flex;
  justify-content: center;
}
.section-platforms__item:not(:last-child) {
  margin-right: 24px;
}
.section-platforms__link {
  display: inline-block;
  padding: 32px;
  border-radius: 8px;
  background-color: $bg-color;
  box-shadow: $secondary-box-shadow;
  transition: background-color 250ms $cubic-bezier,
    box-shadow 250ms $cubic-bezier;

  &:focus,
  &:hover {
    background: $accent-color;
    box-shadow: $main-box-shadow;
    animation: pulse;
    animation-duration: 1s;
  }
}
.images-list__item:not(:last-child) {
  margin-bottom: 40px;
}
