.wrapper {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../pictures/Bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
