$primary-text-color: #000000;
$title-text-color: #ffffff;
$secondary-text-color: #8b8b8b;
$secondary-title-color: #adadad;
$add-title-color: #87d322;
$bg-color: #ffffff;
$secondary-bg-color: #a8ff35;
$third-bg-color: #000000;
$forth-bg-color: #fafafa;
$partners-bg-color: #f5f4fa;
$accent-color: #a8ff35;

$primary-font-family: "Roboto", sans-serif;
$logo-font-family: "Inter", sans-serif;
