$primary-text-color: #000000;
$title-text-color: #ffffff;
$secondary-text-color: #8b8b8b;
$secondary-title-color: #adadad;
$add-title-color: #87d322;
$bg-color: #ffffff;
$secondary-bg-color: #a8ff35;
$third-bg-color: #000000;
$forth-bg-color: #fafafa;
$partners-bg-color: #f5f4fa;
$accent-color: #a8ff35;

$primary-font-family: "Roboto", sans-serif;
$logo-font-family: "Inter", sans-serif;

$logo-text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
  0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
$title-text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
  0px -4px 10px rgba(255, 255, 255, 0.3);

$main-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$secondary-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
  rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
